<header>
    <div style="float:right">
        <input type="button" style="float:right;height:48px" value="Mon Panier" onclick="location.href='@Url.Action("Panier", "Client")'" />
        <input type="button" style="width:115px" value="Profil" onclick="location.href='@Url.Action("Profil", "Client")'" /><br />
        <input type="button" style="width:115px" value="Se déconnecter" onclick="location.href='@Url.Action("ListeMedicament", "Home")'" />       
    </div>

    <div>
        <h1>PHARMAWEB</h1>
    </div>  
</header>