<header>
    <div style="float:right">
        <input type="button" style="float:right;height:48px" value="Mon Panier" onclick="location.href='@Url.Action("Inscription", "Client")'" />
        <input type="button" style="width:115px" value="Se connecter" onclick="location.href='@Url.Action("Connexion", "Client")'" /><br />
        <input type="button" style="width:115px" value="S'inscrire" onclick="location.href='@Url.Action("Inscription", "Client")'" />
    </div>

    <div>
        <h1>PHARMAWEB</h1>
    </div>
</header>