@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PharmaWeb</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <table>
                <tr>
                    <td style="width : 150px"><label>Login</label></td>
                    <td>@Html.TextBox("login", null, new { style = "width : 150px" })</td>
                </tr>
                <tr>
                    <td style="width : 150px"><label>Mot de passe</label></td>
                    <td>@Html.Password("password", null, new { style = "width : 150px" })</td>
                </tr>
            </table><br />

            <input style="margin-left : 100px" type="submit" name="Connexion" value="Connexion" />
        }
    </div>
</body>
</html>