<header>
    <h1 style="float:left">PHARMAWEB</h1>
    <table>
        <tr>
            <td><input type="button" value="Se connexter" style="width:100%;height:100%" onclick="location.href='@Url.Action("Connexion", "Client")'" /></td>
            <td rowspan="2"><input type="button" value="Mon Panier" style="width:100%;height:100%" onclick="location.href='@Url.Action("Panier", "Client")'" /></td>
        </tr>
        <tr>
            <td><input type="button" value="S'inscrire'" style="width:100%;height:100%" onclick="location.href='@Url.Action("Inscription", "Client")'" /></td>
        </tr>
    </table><br />
</header>