<body>
    <table>
        <tr>
            <th>Nom</th>
            <th>Age</th>
        </tr>
        @foreach (MvcApplication3.Models.Client client in ViewData["Clients"] as List<MvcApplication3.Models.Client>)
        {
            <tr>
                <td>@client.Nom</td>
                <td>@client.Age</td>
            </tr>
        }
    </table>
</body>