<ul style="list-style-type:none">
    <li style="display:inline-block">@Html.ActionLink("Profil", "Profil", "Client")</li>
    <li style="display:inline-block">@Html.ActionLink("Commandes", "ListeCommande", "Client")</li>
</ul>