<nav style="margin-top:50px;margin-left:20%">
    <ul style="list-style-type:none">
        <li style="display:inline-block;width:35%">@Html.ActionLink("Historique des commandes", "ListeCommande", "Pharmacien")</li>
        <li style="display:inline-block;width:35%">@Html.ActionLink("Historique des ordonnances", "ListeOrdonnance", "Pharmacien")</li>
    </ul>
</nav>